<template>
    <div>
        <form @submit.prevent="PoblarNacimientos">
            <button type="submit" style="background-color: aquamarine;">Poblar Nacimientos</button>
        </form>

        <form @submit.prevent="EliminarNacimientos">
            <button type="submit" style="background-color: aquamarine;">Eliminar Nacimientos</button>
        </form>
    </div>
</template>

<script>
    export default {
        methods: {
            PoblarNacimientos() {
                const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJOb21icmVfVXN1YXJpbyI6InlhaXIiLCJDb3JyZW9fRWxlY3Ryb25pY28iOiJzdHJpbmciLCJDb250cmFzZW5hIjoiMTIzNCIsIk51bWVyb19UZWxlZm9uIjoic3RyaW5nIn0.aEXy_fgDdUHif1wzhfpxddKVg4fWAyGR3fd1p-SWDOc';
                const sql_query = "call test.InsertRandomBabies(100);";

                fetch('https://privilegecare-deploy.onrender.com/pediatria/poblarNacimientos/', {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${token}`,
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(sql_query)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Tabla poblada con éxito:', data);
                        // this.loadData(); // Aquí se eliminó la llamada a this.loadData()
                    })
                    .catch(error => {
                        console.error('Error al poblar la tabla:', error);
                    });
            },

            EliminarNacimientos() {
                const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJOb21icmVfVXN1YXJpbyI6InlhaXIiLCJDb3JyZW9fRWxlY3Ryb25pY28iOiJzdHJpbmciLCJDb250cmFzZW5hIjoiMTIzNCIsIk51bWVyb19UZWxlZm9uIjoic3RyaW5nIn0.aEXy_fgDdUHif1wzhfpxddKVg4fWAyGR3fd1p-SWDOc';
                const sql_query = "call test.sp_limpiar_nacimientos();";

                fetch('https://privilegecare-deploy.onrender.com/pediatria/poblarNacimientos/', {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${token}`,
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(sql_query)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Nacimientos eliminados con éxito:', data);
                        // this.loadData(); // Aquí se eliminó la llamada a this.loadData()
                    })
                    .catch(error => {
                        console.error('Error al eliminar los nacimientos:', error);
                    });
            }
        }
    }
</script>